<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.pdx.ece558_fall15.alex_elizabeth.businesscardcontact">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name=".ContactListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ContactListActivity">
        </activity>
        <activity android:name=".CreateModifyActivity"
                  android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
